.App {
  background-color: #282c34;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.Mid-Box {
  background-color: #3E4451;
  height: 70vh;
  width: 70vh;
  display: flex;
  flex-direction: column-reverse;
  box-sizing: border-box;
  gap: 20px;
  padding: 20px;
  border-radius: 40px;
}

.Image-Box {
  background-color: #545D6E;
  flex-grow: 1;
  padding: 20px;
  border-radius: 20px;
  color: white;
  font-size: 4vh;
}

.Horizontal-Group {
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  gap: 20px;
}

.Mid-Box, button, .Image-Box {
  box-shadow: 
    2px 4px 10px rgba(0, 0, 0, 0.25), 
    inset -2px -4px 4px rgba(0, 0, 0, 0.5), 
    inset 2px 4px 4px rgba(255, 255, 255, 0.25);
}

.FilePickerButton {
  width: stretch;
}

button {
  background-color: #545D6E;
  width: stretch;
  border: none;
  padding: 20px;
  border-radius: 20px;
  color: white;
  font-size: 4vh;
  cursor: pointer;
  transition: all 0.2s ease;
}
button:hover {
  box-shadow: 
    0px 4px 10px 2px rgba(0, 0, 0, 0.5), 
    inset -2px -4px 4px rgba(0, 0, 0, 0.5), 
    inset 2px 4px 4px rgba(255, 255, 255, 0.25);
  transform: translateY(-2px);
  transition: all 0.2s ease;
}
button:active{
  box-shadow: 
    2px 4px 10px rgba(0, 0, 0, 0.25), 
    inset -2px -4px 4px rgba(0, 0, 0, 0.5), 
    inset 2px 4px 4px rgba(255, 255, 255, 0.25);
  transform: translateY(4px);
  transition: all 0.2s ease;
}